{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'posts/img/favicon.ico' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'players/css/main.css' %}">
    <title>IPLFanStation</title>    
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <!-- <nav
      class="sticky-top navbar navbar-expand-lg navbar-dark bg-primary"
    >
    <a class="navbar-brand mr-4 text-white-50 font-weight-bold" href="{% url 'player_list' %}">IPLFanStation</a>
      Social media handles -->
      <!-- <div class="social ml-0" style="opacity: 0.6;">
        <a class="navbar-brand social" href="https://twitter.com/">
          <i class="fa fa-twitter-square fa-2x"></i>
        </a>
        <a class="navbar-brand social" href="https://instagram.com">
          <i class="fa fa-instagram fa-2x"></i>
        </a>
        <a class="navbar-brand social" href="https://facebook.com">
          <i class="fa fa-facebook-square fa-2x"></i>
        </a>
        <a class="navbar-brand social" href="https://pinterest.com">
          <i class="fa fa-pinterest-square fa-2x"></i>
        </a>
      </div>
      <div class="search-bar">
        <form action="/search" method="get">
          <input type="text" name="query" class="form-control" id="query" placeholder="Search doubts">
        </form>
      </div>

    </nav> -->
    
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'player_list' %}">
          IPLFanStation
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>
    
          <a class="navbar-item">
            Players
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                Teams
              </a>
              <a class="navbar-item" href="{% url 'player_new' %}">
                Add player
              </a>
              <a class="navbar-item">
                Points Table
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="social ml-0" style="opacity: 0.6;">
          <a class="navbar-brand social" href="https://twitter.com/">
            <i class="fa fa-twitter-square fa-2x"></i>
          </a>
          <a class="navbar-brand social" href="https://instagram.com">
            <i class="fa fa-instagram fa-2x"></i>
          </a>
          <a class="navbar-brand social" href="https://facebook.com">
            <i class="fa fa-facebook-square fa-2x"></i>
          </a>
          <a class="navbar-brand social" href="https://pinterest.com">
            <i class="fa fa-pinterest-square fa-2x"></i>
          </a>
        </div> -->
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div>
    {% if messages %}
      {% for message in messages %}
        <div class="text-center alert alert-{{message.tags}}">
        {{ message }}
        </div>
      {% endfor %}
    {% endif %}
        {% block content %}

        {% endblock %}</div>
        <footer id="main-footer" class="footer">
          <div class="content has-text-centered">
            <div class="">
              <p class="mb-2">Copyright &copy; 2020, All Rights Reserved</p>
            </div>
          </div>
        </footer>

</body>
</html>