{% extends "players/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section jumbotron mt-3">
        <form method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class='border-bottom mb-2 text-center'>Add Player</legend>
            <div class="text-muted text-center mb-3"> Add the player details of IPL for the player you want to add</div>
            {{ form|crispy  }}
            
        </fieldset>
        <div class="text-center">
            <button class='btn btn-outline-info justify-center btn-block' type='submit'>Add Player</button>
        </div>
        
        </form>
    </div>

{% endblock content%}