{% extends "base.html" %}
{% block content %}
<div class="jumbotron m-5">
  <h1 class="text-center mb-0">
    <strong> {{object.title}} </strong>
  </h1>
  <p class="card-text m-3 text-center mt-0">
    <small class="text-muted text-black-50"
      >Posted by <a href="{% url 'user-posts' object.author.username %}"> {{object.author}} </a> on {{object.date_posted|date:"F d, Y"}}  </small
    >
{% if object.author == user %}
<div class="text-left m-3 text-center">
    <a class="btn btn-success" href="{% url 'post-update' object.id %}">Update</a>
    <a class="btn btn-danger" href="{% url 'post-delete' object.id %}">Delete</a>
</div>
{% endif %}
  </p>
  <p class="card-text m-3 text-left text-black">
    {{object.content}}
  </p>
</div>
{% endblock content %}