{% extends "players/base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container form-container p-3" style="opacity:0.8 ;">
    <!-- <div class="content-section jumbotron mt-3"> -->
        <img src="{% static 'blog/img/login.jpg' %}" class="mx-auto d-block mb-3" alt="..." />
        <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class='border-bottom mb-4 text-center'>Login</legend>
            {{ form|crispy  }}
            
        </fieldset>
        <div class="text-center m-3">
            <button class='btn btn-outline-info justify-center' type='submit'>Login</button>
        </div>
        <div class="text-center">
            <small class="muted"> <a class='ml-2' href="{% url 'password_reset' %}">Forgot Password? </a> </small>
        </div>
        </form>
        <div class="border-top pt-3 text-center mb-3">
            <small class="muted"> Don't have an account ?<a class='ml-2' href="{% url 'register' %}">Sign up Now</a> </small>
        </div>
    </div>

{% endblock content%}