body{
  font-family: 'Padauk', sans-serif;
  background-color: whitesmoke;
}

.navbar-custom {
  background-color:#A8D49D !important; 
}


.card-container{
  background-color: #4EA838;
  width: 70vw;
  margin: 10px auto;
  border: 1px solid #70af85 ;
  border-radius: 10px;
}

/* Login Page */

.form-container {
  background: #fff;
  opacity: 0.8;
  border-radius: 10px;
  margin-top: 2.7rem;
  margin-bottom: 2.7rem;
  font-size: 1.1rem;
  border: 2px dashed #4EA838;
  max-width: 600px;
}


.form-container img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.btn-login {
  width: 20%;
  margin-top: -4rem;
}

.rem {
  margin-bottom: 3rem;
}

.register {
  font-size: 0.9rem;
  text-align: center;
}

/* Footer */
footer{
  display: flex;
  background-color: #A8D49D;
  width: 25%;
  border: 1px solid #fff ;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
}