{% extends "base.html"%}
{% block content %}
{% for post in posts %}


    <!-- Showcase -->
    <header id="showcase">
      <div class="container">
        <div class="showcase-container">
          <div class="showcase-content">
            <h1>{{post.title}}</h1>
            <p>
              {{post.content|truncatechars:60}}
            </p>
            <a href="{% url 'post-detail' post.id %}" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </header>
{% endfor %}
{% endblock content %}