{% extends "base.html" %}
{% block content %}
<div class="mx-auto d-block">
    {% for player in player_list %}
    <article class="card-body card-container w-25">
      <img src="https://m.cricbuzz.com/a/img/v1/192x192/i1/c170673/kl-rahul.jpg" class="rounded-circle mx-auto d-block">
      <h2 class=" text-center text-black-50">{{player.name}}</h2>
      <h5 class="text-dark text-center card-subtitle">{{player.nationality}}</h5>  
      <p class="text-center">
        <h5> <b>Role : </b> {{player.role}}</h5>
        <h5> <b>Matches : </b> {{player.total_matches}}</h5>
        <h5> <b>Age : </b> {{player.age}}</h5>
        <h5> <b>Runs :</b> {{player.total_runs}}</h5>
      </p>
    </article>  
    </div>
    
    {% endfor %}
</div>
{% endblock %}